/**
 * Editor sidebar styles
 */

.autoblogger-sidebar {
    padding: 0;

    .components-panel__body {
        border-top: 1px solid #ddd;
    }

    .components-base-control {
        margin-bottom: 16px;
    }

    .components-text-control__input,
    .components-textarea-control__input,
    .components-select-control__input {
        width: 100%;
    }

    .components-button {
        &.is-primary {
            background: #2271b1;
            border-color: #2271b1;

            &:hover:not(:disabled) {
                background: #135e96;
                border-color: #135e96;
            }
        }

        &.is-secondary {
            &:hover:not(:disabled) {
                background: #f0f0f1;
            }
        }
    }

    // Cost estimate styling
    .cost-estimate {
        padding: 10px;
        background: #f0f0f1;
        border-radius: 4px;
        margin-bottom: 10px;
        font-size: 13px;

        &.cost-green {
            border-left: 3px solid #46b450;
        }

        &.cost-yellow {
            border-left: 3px solid #ffb900;
        }

        &.cost-red {
            border-left: 3px solid #dc3232;
        }
    }

    // Help section
    ol {
        font-size: 12px;
        line-height: 1.6;
        color: #666;
    }

    a {
        color: #2271b1;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Loading state
.autoblogger-sidebar.is-loading {
    opacity: 0.6;
    pointer-events: none;
}
